@use "../abstracts/" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--primary-500);
  color: var(--neutral-000);
  font-size: 1.4rem;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  font-weight: $font-weight-bold;

  img {
    margin-right: 5%;
  }
}