@use "../abstracts/" as *;

.card {
  background-color: var(--neutral-000);
  color: var(--neutral-600);
  font-family: $font-family-base;
  font-weight: $font-weight-default;
  max-width: 60rem;
  line-height: 1.7;
  border-radius: $card-border-radius-desktop;

  &__img {
    &-container {
      width: 50%;
    }
    border-radius: $card-border-radius-desktop 0 0 $card-border-radius-desktop;
    height: 100%;
    object-fit: cover;

    @media screen and (max-width: 37.5em) {
      &-container {
        width: 100%;
      }
      border-radius: $card-border-radius-desktop $card-border-radius-desktop 0 0;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    width: 50%;
    font-size: 2.5rem;
    padding: $card-padding-desktop;

    @media screen and (max-width: 37.5em) {
      width: 100%;
      font-size: 1.5rem;
      padding: $card-padding-desktop;
    }
  }

  &__name {
    color: var(--neutral-700);
    font-family: $font-family-accent;
    line-height: 1;
  }

  @media screen and (max-width: 41.875em) {
    max-width: 55rem;
  }

  @media screen and (max-width: 37.5em) {
    flex-direction: column;
    max-width: 30rem;
    padding: $card-padding-mobile;
  }
}
