*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 1.6rem;
  background-color: var(--neutral-500);
}

p {
  font-size: 1.4rem;
}