:root {
  // Colors
  --primary-500: hsl(158, 36%, 37%);
  --primary-700: hsl(158, 42%, 18%);

  --neutral-000: hsl(0, 0%, 100%);
  --neutral-500: hsl(30, 38%, 92%);
  --neutral-600: hsl(228, 12%, 48%);
  --neutral-700: hsl(212, 21%, 14%);
}
