$-ff-montserrat: "Montserrat", sans-serif;
$-ff-fraunces: "Fraunces", sans-serif;

$font-family-base: $-ff-montserrat;
$font-family-accent: $-ff-fraunces;


$-fw-500: 500;
$-fw-700: 700;

$font-weight-default: $-fw-500;
$font-weight-bold: $-fw-700;